$blanco: #fff;
$fondo-degradado: linear-gradient(50deg, steelblue, steelblue, red, red 60%, yellow);
$gris: #ebeeee;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

img {
    width: 100%;
    height: auto;
}

body {

    header {
        .nav-bar {
            width: 100%;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: space-between !important;
            background: $blanco;
            z-index: 9999999;
            position: absolute;

            .logo {
                width: 15%;
                height: auto;
                display: flex;
                justify-content: center;
            }

            .menu {
                z-index: 9999999;

                width: 70%;
                display: flex;
                justify-content: center;

                .lista-menu {
                    list-style: none;
                    z-index: 9999999;

                    li {

                        a {
                            width: 150px;

                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-decoration: none;
                            color: #121212;
                            font-weight: 700;

                            &:hover {

                                text-decoration: underline 4px;

                            }
                        }

                    }
                }

            }

            .buscar {
                width: 15%;
                display: flex;
                justify-content: center;
            }
        }

        .nav-submenu {
            z-index: 9999999;
            position: absolute;
            margin-top: 80px;
            width: 100%;
            height: 60px;
            background: $fondo-degradado;

            .lista-submenu {
                z-index: 9999999;

                width: 100%;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;

                li {
                    width: 200px;

                    a {
                        color: $blanco;
                        text-decoration: none;
                        font-weight: 600;

                        &:hover {
                            text-decoration: underline 4px;
                        }
                    }
                }
            }
        }
    }

    main {
        overflow: hidden;

        #banner {

            .banner {
                z-index: 9;

                width: 100%;
                height: 400px;
                align-items: center;
                display: flex;
                background: $gris;

                h1 {
                    margin-left: 10%;

                    span {
                        background: $fondo-degradado;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }

                .img-pacosantos {
                    width: 60%;
                    position: absolute;
                    // margin-top: 100px;
                    overflow: hidden;
                    margin-right: -100px;
                    height: 550px;
                    // margin-left: auto;
                    margin-top: 100px;
                    z-index: 0;
                    right: 0;
                    background-image: url(../img/paco-banner.jpeg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-radius: 0 0 0 105px;
                    transform: rotate(-5deg);
                }
            }

            .banner-ellas {
                width: 100%;
                height: 400px;
                align-items: center;
                display: flex;
                background: $gris;
                background-image: url(../img/ellas-fondo-baner.jpg);
                opacity: .5;
                background-size: cover;
                background-position: center center;

            }

            .banner-caritas {
                width: 100%;
                height: 400px;
                align-items: center;
                display: flex;
                background: $gris;
                background-image: url(../img/fondosoypacosantos.png);
                opacity: .5;
                background-size: cover;
                background-position: center center;
            }
        }

        #cards {
            margin-top: 200px;

            .card-shadow {
                text-decoration: none;
                color: #000;
                &:hover{
                    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2)!important;
                }
            }

            .cont-cards {
                justify-content: space-around !important;

                .card {
                    overflow: hidden;
                    transition: .1s ease-in;

                    &:hover {
                        margin-top: -10px;
                        transition: .1s ease-in;
                    }
                }

                .img-deg {
                    transform: rotate(10deg);
                    width: 120%;
                    margin-top: -30px;
                    margin-left: -50px;

                    img {
                        border-radius: 20px;
                    }
                }
            }
        }

        #img-text {
            .img-left {
                width: 450px;
                height: 550px;
                background-image: url(../img/paco-img.jpeg);
                background-size: cover;
                background-position: -150px;
                background-repeat: no-repeat;
                border-radius: 25px;
            }

            .img-left-quienes {
                width: 450px;
                height: 550px;
                background-image: url(../img/quienes-paco.jpeg);
                background-size: cover;
                background-position: -100px;
                background-repeat: no-repeat;
                border-radius: 25px;
            }

            .img-left-ellas {
                width: 450px;
                height: 550px;
                background-image: url(../img/ellas.jpeg);
                background-size: cover;
                background-position: -200px;
                background-repeat: no-repeat;
                border-radius: 25px;
            }

            .img-right-ellas {
                width: 450px;
                height: 550px;
                background-image: url(../img/ellas-2.jpeg);
                background-size: cover;
                background-position: -200px;
                background-repeat: no-repeat;
                border-radius: 25px;
            }

            .img-empresarial {
                width: 450px;
                height: 550px;
                background-image: url(../img/histoia-empresarial.jpeg);
                background-size: cover;
                background-position: -100px;
                background-repeat: no-repeat;
                border-radius: 25px;
            }
        }

        #cards-two {
            margin-top: 80px;

            .cards-two {
                margin-top: 150px;
                justify-content: space-around !important;


                .card-body {

                    p {
                        text-align: justify;
                    }
                }
            }

            .img-card-top {
                margin-top: -100px;
                border-radius: 20px;
                width: 120px;
                height: 120px;
                background: $fondo-degradado;
            }

        }

        .img-calendario {
            width: 70% !important;
            margin: 0 auto;
        }
    }

    footer {
        .logo-footer {
            width: 250px;
        }

        .redes-sociales {
            ul {
                li {
                    i {
                        background: $fondo-degradado;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        font-size: 48px;
                    }
                }
            }
        }

        .menu-footer {
            ul {
                li {
                    a {
                        text-decoration: none;
                        font-size: 18px;
                        color: #121212;

                        &::before {
                            content: "►";
                        }
                    }
                }
            }
        }
    }

    .copywrite {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $fondo-degradado;
        height: 60px;

        p {
            font-size: 16px;
            font-weight: 600;
            color: $blanco;
        }
    }
}